<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/listings">
        <input name="title" type="text" placeholder="enter the title here">
        <br>
        <input name="description" type="text" placeholder="enter the description here">
        <br>
        <input name="image" type="text" placeholder="enter the imageURL">
        <br>
        <input name="price" type="number" placeholder="enter the price here">
        <br>
        <input name="location" type="text" placeholder="enter the location here">
        <br>
        <input name="country" type="text" placeholder="enter the country here">
        <br>
        <Button> SUBMIT HERE</Button>
</body>
</html>